[submodule "libCF++"]
	path = dependencies/libCF++
	url = https://github.com/cathyjf-forks/CFPP.git
	branch = main
[submodule "cctools"]
	path = dependencies/cctools
	url = https://github.com/cathyjf-forks/cctools.git
	branch = main
